<div class="container d-flex justify-content-center align-items-center min-vh-100">
    
    <div class="card shadow-lg border-light" style="width: 24rem;">
      <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="Imagen de curso">
      <div class="card-body text-center">
        
        <h5 class="card-title text-primary">¡Bienvenido a los Cursos!</h5>
        
        <p class="card-text lead">Explora nuestra amplia gama de cursos. Aprende a tu propio ritmo y mejora tus habilidades. Comienza ahora y da el siguiente paso en tu educación.</p>
        
        <a [routerLink]="['/listarCourses']" class="btn btn-primary btn-lg mt-3">Ver Cursos</a>
      </div>
    </div>
  </div>
  
  
