<form [formGroup]="form" class="container mt-5 p-4 bg-light shadow rounded">
  <h2 class="mb-4 text-center text-primary">Detalles de Cursos</h2>

  <div class="card p-4 mt-4 border-0 shadow-sm">
    <h5 class="card-title text-center text-secondary mb-4">Datos del Curso</h5>

    <div class="mb-3">
      <label for="nombre" class="form-label fw-bold">Nombre del Curso:</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        placeholder="Ingrese el Nombre del Curso"
        formControlName="nombre"
        readonly
      />
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label fw-bold">Descripción:</label>
      <textarea
        id="descripcion"
        class="form-control"
        rows="4"
        placeholder="Detalles del curso"
        formControlName="descripcion"
        readonly
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="duracion" class="form-label fw-bold">Duración (en horas):</label>
      <input
        type="text"
        id="duracion"
        class="form-control"
        placeholder="Ingrese la duración"
        formControlName="duracion"
        readonly
      />
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="lat" class="form-label fw-bold">Latitud:</label>
        <input
          type="number"
          id="lat"
          class="form-control"
          placeholder="Ingrese la latitud"
          formControlName="lat"
          readonly
        />
      </div>
      <div class="col-md-6">
        <label for="lng" class="form-label fw-bold">Longitud:</label>
        <input
          type="number"
          id="lng"
          class="form-control"
          placeholder="Ingrese la longitud"
          formControlName="lng"
          readonly
        />
      </div>
    </div>

    <div class="mt-4">
      <h6 class="text-center text-secondary">Ubicación en el Mapa</h6>
      <app-map
        [latitude]="curse?.coordinates?.lat || 0"
        [longitude]="curse?.coordinates?.lng || 0"
        [isEditable]="false"
      >
      </app-map>
    </div>
  </div>
</form>
