<h2 class="text-center my-4 text-primary">Lista Courses</h2>
<div class="table-responsive">
    <table class="table table-striped text-center">
      <thead class="table-light">
        <tr>
          <th>Nombre</th>
          <th>Description</th>
          <th>Duration</th>
          <th>coordinates</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="table-light">
        @for (course of courses; track course.id) {
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.duration }}</td>
          <td>{{ course.coordinates.lat }} y {{course.coordinates.lng}}</td>
          <td>
            <a class="btn btn-danger btn-sm" (click)="eliminarCourse(course.id)">Eliminar</a>
            <a class="btn btn-warm btn-sm" [routerLink]="['/editCourse', course.id]">Editar</a>
            <a class="btn btn-warm btn-sm" [routerLink]="['/detallesCourse', course.id]">Detalles</a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
